.card {
  font-size: 14px;
  font-style: monospace;
  padding: 100px;
  border: 5px solid #5a5a5a;
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
  width: 350px;
  height: 150px;
  overflow: auto;
}
