body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

.main-container {
  display: flex;
}

.map-container {
  flex: 2;
}

.meta-container {
flex: 2;
max-width: 350px;
padding: 20px;
}

.card-hero {
  max-width: 370px;
  margin-left: -20px;
  margin-top: -20px;
}

.wpe-logo {
  max-height: 30px;
  background-color: white;
  padding:10px;
  border-radius: 30px;
  box-shadow: 1px 3px 10px #c4c4c4;
}

.wpe-logo:hover {
  max-height: 30px;
  background-color: #702bc4;
  padding:10px;
  border-radius: 30px;
  box-shadow: 1px 3px 10px #c4c4c4;
}

.office-name {
  padding-top: 20px;
  font-weight: 800;
}